body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(50deg,red,orange,yellow);
    height: 100vh;
}
.nome{
    background-color: rgba(0, 0, 0, 0.741);
    position: absolute;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 10px;
    color: white;
    

}
input{

    text-align: center  ;
    padding: 15px 10px;
    border-radius: 5px;
    outline: none;    
    border: none;
    align-content: center;
    width: 50%;
    font-size: 12px;
    
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0px 10px;

}
button{
    background-color: red;
    border: none;
    padding: 15px 0px;
    width: 100%;
    color: white;
    font-size: medium;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex: auto;
    
}
img{
    border-radius: 50%;
}
h1{
    text-align: center;
}
button:hover{
    background-color: orange;
}
.button{
    display: flex;
}
a{
    color: white;
    font-size: medium;
}

#esqueceu{
    border: 10px;
    color: white;
    display:flexbox;
 
}
